@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

/* css to allow hiding of html elements by javascript functions*/
.hidden {
  display: none !important;
}

/*css to override default boostrap button styling on results panel*/

body {
  background-color: #ff0000;
  font-family: "Electrolize", sans-serif;
}

button {
  border: none;
  border-radius: 50%;
}

.header {
  background-color: #87c5df;
  max-width: 100%
}


.btn_rules {
  margin-top: 20px;
  margin-left: 100px;
  background-color: #ff0000;
  border-color: #ff0000;
  width: 100px;
  height: 100px;
  border-radius: 8px;

}

.logo img {
  margin-left: 15px;
  width: 160px;
  height: 160px;
  border: 10px solid red;
  border-radius: 8px;
  
}


.btn_score {
  color: #8aaf90;
  background-color: transparent;
  border: #8aaf90 10px solid;
  border-radius: 10px;
  cursor: pointer;

}


.btn_score:hover {
  color: black;
  background-color: #8aaf90;
}


.choice img {
  opacity: var(#87c5df);
  transform: scale(1);
}


.choice {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 6rem;
  height: 6rem;
  background: #fff;
  border-radius: 50%;
  box-shadow: inset 0 0.5rem #c9c9c9;
  transform: translate (-50%, -50%);
}



.choice:hover {
  animation: animate .5px;
  cursor: pointer;
  background-color: #12aaeb55;

}

.btn-choice {
  border: #87c5df 20px solid;
  border-radius: 50%;
}


.choice::before,
.choice::after {
  content: "";
  position: absolute;
  left: -15%;
  top: -15%;
  width: 130%;
  height: 130%;
  border-radius: 50%;
}


.main_container {
  background-color: #f1ce83;

}

.hidden_section {
  background-color: #f1ce83;
}

.footer {
  position: absolute;
  background-color: #87c5df;
  margin-top: 0;
  height: 140px;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.modal-body {
  display: flex;
  justify-content: center;
}